<div class="main-container">
  <!-- <div class="alert alert-app-level">
      ...
  </div> -->
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/design/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/design/blocks" routerLinkActive="active">Blocks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/design/workflows" routerLinkActive="active">Workflows</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/design/block-types" routerLinkActive="active">Block Types</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/design/custom-icons" routerLinkActive="active">Custom Icons</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/design/providers" routerLinkActive="active">Providers</a>
      </li> -->
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area" style="padding: 0; margin: 0; height: 100%;">
      <router-outlet></router-outlet>
    </div>
    <!-- <nav class="sidenav">
        ...
    </nav> -->
  </div>
</div>