// .title {
//   padding-top: 50px;
//   padding-bottom: 50px;
//   color: #405065;
//   font-size: 36px;
//   font-weight: bold;
//   line-height: 49px;
// }

// .connectingConnectorLabel {
//     height: 23px;
//     width: 110px;
//     border-radius: 13px;
//     color: #FFFFFF;
//     text-align: center;
//     z-index:3 !important;
//     left: 50% !important;
//     background-color: #456;
// }

.workflow-canvas {
  height: 100%;
}

.droppable {
  height: 800px !important;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}

.worflow-canvas-container {
  width: 100%;
  height: 100%;
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
}