<div class="module-content-container">
  <div class="module-header-wrapper" style="border-bottom: 1px solid #cccccc;">
    <div class="module-header-container" class="flex-container"  style="padding: 15px;">

      <div class="module-branding">
        <div class="module-brand">
          <clr-icon class="is-solid" style="margin-right: 10px;" shape="store"></clr-icon>
          <span class="module-title">
            Catalog
          </span>
        </div>
      </div>

      <div class="module-nav" style="margin-left: 25px;">
        <!-- <a href="javascript://" class="nav-link nav-icon">
          <clr-icon shape="plus-circle" class="is-solid"></clr-icon>
        </a> -->
      </div>

    </div>

  </div>


  <div class="module-content-area" style="padding: 20px;">


    <router-outlet></router-outlet>

  
  </div>

</div>

