<div class="main-container">
  <!-- <div class="alert alert-app-level">
      ...
  </div> -->
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/pages/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pages/catalog" routerLinkActive="active">Catalog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pages/requests" routerLinkActive="active">Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pages/approvals" routerLinkActive="active">Approvals</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area" style="padding: 0; margin: 0;">
      <router-outlet></router-outlet>
    </div>
    <!-- <nav class="sidenav">
        ...
    </nav> -->
  </div>
</div>