
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$stacks-web-client-primary: mat-palette($mat-indigo);
$stacks-web-client-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$stacks-web-client-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$stacks-web-client-theme: mat-light-theme($stacks-web-client-primary, $stacks-web-client-accent, $stacks-web-client-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($stacks-web-client-theme);

/* You can add global styles to this file, and also import other style files */
.module-header-wrapper {
  background-color: #e8e8e8;
  border-left: 1px solid #cccccc;
}
.module-content-container {
  height: 100%;
}

.module-content-area {
  height: calc(100% - 55px);
}
.clr-vertical-nav {
  margin-top: 0;
  padding-top: 11px !important;
}
.clr-vertical-nav .nav-link.active {
  background-color: #e8e8e8;
}

.nav-content {

}


.datagrid-host {
  height: 100%;
}

.studio-canvas {
  position: relative;
}

.studio-component-node {
  width: 200px;
  height: 50px;


  position: absolute;
  // padding: 4px;box-shadow: 0 10px 40px 0 #B0C1D9;
}

.w-100 {
  width: 100% !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
